.bg-dark {
	background: rgb(3, 0, 31);
}
.text-white {
	color: white;
}
.custom-image {
	display: block;
	width: calc(100% - 20px);
	margin: 10px auto;
	border-radius: 8px;
}

.shopping-cart {
	position: fixed;
	top: 0;
	right: 0;
	width: 150px;
	height: 100vh;
	background: #363a45;
}
